<nav>
	<div class="left">
	 <a routerLink=""> <img src="https://thumbs.dreamstime.com/b/black-ecommerce-icon-shopping-design-shopping-cart-simple-vector-sign-ecommerce-icon-shopping-design-shopping-cart-white-143026119.jpg"
	  alt="Logo"></a>
	  
	</div>
	<div *ngIf="menutype==='default'" class="middle">
	  <input #searchinput type="text" (keyup)="searchproducts($event)" (blur)="hidesearch()" placeholder="Search...">
	  <button (click)="submitinput(searchinput.value)" >search</button> 
	  <ul class="suggested-result" *ngIf="searchresult">
<li *ngFor="let item of searchresult"><a (mousedown)="redirecttodetail(item.id)">{{item.name}}</a></li>
	  </ul>
	  

	


	</div>
	<div [ngSwitch]="menutype"  class="right">
		<ul *ngSwitchCase="'default'" >
	  <a routerLink="seller">seller</a>
	  <a routerLink="">Home</a>
	  <a routerLink="/user-auth">Login/signUp</a>
	  <a routerLink="search">Cart</a>
	</ul>
		<ul *ngSwitchCase="'seller'" >
	  <a routerLink="seller-add-product">Add Product</a>
	  <a routerLink="seller-home">List</a>
	  <a (click)="logout()">Logout</a>
	  <a routerLink="seller">{{sellername | titlecase}}</a>
	</ul>
	</div>
  </nav>
  