nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color:rgb(22,27,34);
    color:white;
    padding: 0 20px;
    
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999; */
  }
  
  .left img {
    height: 40px;
    border-radius: 15px;
  }
  
  .middle {
    flex: 1;
    margin: 0 20px;
    display: flex;
    
  }
  .middle button{
    border: none;
    background-color: rgb(136,136,138) ;
    border-left: none;
    color: white;
  }
  .middle input[type="search"]:focus {
    outline: none;
    border: none;
  }
  
  
  .middle input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    padding: 10px;
        border: none;
        font-size: 16px;
        padding: 10px;
        box-reflect: below 0px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
        outline: none;
        border-bottom: 1px rgba(255, 255, 255, 0.2);

      
  }

 
  

  
  .right {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .right a {
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: larger;
  }
  .right a:hover {
    color: #88888a;
    text-decoration: underline;
  }

 
  
  .suggested-result{
    position: absolute;
    display: list-item;
    z-index: 10;
    background-color: white;
    color: black;
    width: 54.4rem;
    list-style-type: none;
    /* margin: 0; */
  }
  .suggested-result li{
    padding: 10px;
    border-bottom: 1px solid #634d4d;
 

  }


  .suggested-result li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    border: 1px solid rgb(207, 172, 172);
  }

  .suggested-result li a {
    cursor: pointer;
    color:blueviolet;
  }



  