form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    
  }
  label{
    color: white;
  }
  
  form:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="password"]:hover {
    border-color: #333;
    box-shadow: 0 0 10px #ccc;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #333;
    box-shadow: 0 0 10px #ccc;
  }
  
  button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  button[type="submit"]:active {
    background-color: #222;
  }
  
  button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 10px #ccc;
  }
  
  .home-link {
    display: inline-block;
    padding: 5px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 60px;
    margin-top: 10px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .home-link:hover {
    background-color: #666;
    animation: scale-up 0.3s forwards;
  }
  
  @keyframes scale-up {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }



  .animated-heading {
    
    color: whitw;
    text-align: center;
   
  }


 body {
  background-image: url('https://queue-it.com/media/ppcp1twv/product-drop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}