/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
.carousel-caption{
    position: absolute;
right: 15%;
bottom: 1.25rem;
left: 15%;
padding-top: 1.25rem;
padding-bottom: 1.25rem;
color: #fff;
text-align: center;
background-color: #000000c4;
}

body {
    background-image: url('https://media.istockphoto.com/id/1427483119/photo/white-marble-tabletop-or-countertop-in-loft-modern-and-minimal-concrete-wall-room-with.jpg?s=1024x1024&w=is&k=20&c=TFi_oTizgVKkeJZ7BEfw4_2eLSvOBy8610ZaGNrDGY4=');
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* body{
    background-color: #88888a;
  } */